<h1>FILE: <%= @name %></h1>

<form action='/dataminer/admin/save_conversion' method=post class="crossbeams-form">
  <%= csrf_tag %>
  <input type='hidden' name='filename' value='<%= @name %>' />
  <input type='hidden' name='temp_path' value='<%= @tmpfile.path %>' />
  <input type='hidden' name='yml' value='<%= @yml %>' />
  <div class="crossbeams-row">
    <div class="crossbeams-col">
      <div class="crossbeams-field">
        <label for="sql">SQL</label>
        <textarea name=sql rows=20 cols=120><%= clean_where(@hash['query'])%></textarea>
      </div>
  <p><strong>NB</strong> remove all <em>column={column}</em> parts of the WHERE clause before converting.<br>
      Also remove any SUBQSTART and SUBQEND references.
    <br>This code tries to do as much as possible, but you need to check the where clause - especially for stray "and"s.</p>

      <div class="crossbeams-actions">
        <input type="submit" class="white bg-green br2 dim pa3 ba b--near-white" value="Save" />
      </div>
    </div>
  </div>
</form>

<hr>

<button onclick="crossbeamsUtils.toggleVisibility('yml_code', this);return false" class="pure-button"><i class="fa fa-info"></i> Toggle proposed YML code</button>
<pre id="yml_code" style="display:none;"><%= yml_to_highlight(@yml) %></pre>
