<h1>New report</h1>

<% unless @err.empty? %>
  <p style="color:red;">ERROR: <%= @err %></p>
<% end %>
<form action='/dataminer/admin/create/' method=post class="crossbeams-form">
  <%= csrf_tag %>
  <div class="crossbeams-row">
    <div class="crossbeams-col">
      <div class="crossbeams-field">
        <label for="filename">File name</label>
        <input type='text' id="filename" name='filename' class='cbl-input' placeholder='filename.yml' value='<%= @page.filename %>' required />
      </div>
      <div class="crossbeams-field">
        <label for="caption">Caption</label>
        <input type='text' id="caption" name='caption' class='cbl-input' placeholder='Caption' value='<%= @page.caption %>' required size="80"/>
      </div>
      <div class="crossbeams-field">
        <label for="sql">SQL</label>
        <textarea name='sql' class='cbl-input' rows='20' cols='120' required ><%= @page.sql %></textarea>
      </div>
      <div class="crossbeams-actions">
        <input type="submit" class="white bg-green br2 dim pa3 ba b--near-white">
      </div>
    </div>
  </div>

</form>
